/** Kay's edit **/
/** (130511) 追加 */
.lineGraphScrollBox {
	overflow: scroll;
	width: 100%;
	white-space: nowrap;
}
img#wikiIcon {
	top: 0;
	width:72px;
	height:72px;
	position: fixed;
}
textarea#code {
	background: #FFFFFF;
	width:99%;
	height:40%;
}
input.titleArea{
	font-size: 18pt;
	font-weight: bold;
	width: 90%;
}
header {
	position: fixed;
	top: 0;
	z-index: 1000;
	/* (130203) */
	width: 90%;
	height: 32px;
	line-height: 32px;
	padding: 20px 0;
	/* Firefox用 */
	background: -moz-linear-gradient(top, #004da0, #FFF);
	/* Safari,Google Chrome用 */
	background: -webkit-gradient(linear, left top, left bottom, from(#004da0), to(#FFF));
	border-bottom: 1px solid #ccc;
	box-shadow: 0 4px 0 rgba(0, 0, 0, 0.1);
	border-radius: 10px;
	-webkit-border-radius: 10px;
	-moz-border-radius: 10px;
}
header, x:-moz-any-link  {
	/* (130204) */
	width: 80%;
}
header #eNav {
	position: absolute;
	right: 10%;
	margin-top: 0px;
	/*right: 50%;*/
	/*margin-right: -400px;*/
}
/** (130323) グラフのパラメータ設定エリア */
div.params {
	position: fixed;
	right: 10%;
	margin-bottom: 0px;
	/*right: 50%;*/
	/*margin-right: -400px;*/
}
header nav a:hover{
	font-size: 26pt;
}
/*form*/.nav{
	padding: 2px;/** (121015 菫ｮ豁｣ 10 竊?5) */
	background: #253142;
	/* Firefox逕ｨ */
	background: -moz-linear-gradient(top, #004da0, #253142);
	/* Safari,Google Chrome逕ｨ */
	background: -webkit-gradient(linear, left top, left 60%, from(#004da0), to(#253142));
	/*background: -webkit-gradient(linear, left top, left 60%, from(#253142), to(#364B66));*/
	border-radius: 10px;
	-webkit-border-radius: 10px;
	-moz-border-radius: 10px;
	/* (130624) edit */
	position: absolute;
	top: 45px;
	right: 2%;
	width: 40%;
}

/** (121020) ナビゲーションバー拡張 */
#eNav li {
	position: relative;
	list-style-type: none;
	float: right;
	border-style: solid;
	border-width: 1px 1px 1px 1px;
	border-color: grey;
	/* Firefox 用 */
	background: -moz-linear-gradient(top, #006da0, #FFF);
	/* Safari,Google Chrome 用 */
	background: -webkit-gradient(linear, left top, left bottom, from(#006da0), to(#FFF));
	color: white;
	font-weight: bold;
	font-family: 'comic sans ms', verdana, arial, helvetica, sans-serif;
	text-shadow: 1.5px 2.5px 2.5px #004daf;
	font-size: 16pt;
	border-radius: 4px;
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	text-decoration: none;
}

#eNav li a {
	display: block;
	text-decoration: none;
	word-break: keep-all;
}
#eNav li a:link {
	color : white;
	text-shadow: 1.5px 2.5px 2.5px grey;
}
#eNav li a:visited {
	color : white;
	text-shadow: 1.5px 2.5px 2.5px navy;
}
#eNav li ul {
	position: absolute;
	top:-999em;
	right: 1px;
	width: 175px;
	background: transparent;
}
#eNav .hover ul,
#eNav li:hover ul {
	top: 30px;
}
#eNav li ul li a:visited {
}
#eNav li:hover li a,
#eNav .hover li a {
	visibility: visible;
	margin-left: 10px;
	text-decoration: none;
	/*vertical-align: middle;*/
}
#pageTitle {
	height: 20px;
	color: #fff;
	font-size: 20px;
	font-weight: bold;
	border-style: solid;
	border-width: 1px 1px 1px 1px;
	border-color: silver;
	border-radius: 4px;
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	/* Firefox 用 */
	background: -moz-linear-gradient(top, #006da0, #FFF);
	/* Safari,Google Chrome 用 */
	background: -webkit-gradient(linear, left top, left bottom, from(#006da0), to(#FFF));
	text-shadow: 1.5px 2.5px 2.5px #004daf;
	text-decoration: none;
}
/** (121015) http://css-happylife.com/ 参考 */
a:hover{
	background:rgba(255,255,255,0.8);
	border:1px solid #ccc;
	padding:7px 10px;
	-webkit-border-radius:5px;
	-moz-border-radius:5px;
	border-radius:5px;
	-webkit-box-shadow:1px 1px 3px rgba(150,150,150,0.5);
	-moz-box-shadow:1px 1px 3px rgba(150,150,150,0.5);
	box-shadow:1px 1px 3px rgba(150,150,150,0.5)
}
#gotoPageTop{
	position:fixed;
	right:150px;
	bottom:15px;
	/* Firefox逕ｨ */
	background: -moz-linear-gradient(top, #006da0, #FFF);
	/* Safari,Google Chrome逕ｨ */
	background: -webkit-gradient(linear, left top, left bottom, from(#006da0), to(#FFF));
	border-radius: 10px;
	-webkit-border-radius: 10px;
	-moz-border-radius: 10px;
	font-weight: bold;
	text-shadow: 1.5px 2.5px 2.5px #004daf;
	transition:all 2.0s ease-in-out
}
#gotoPageTop a{
	color: #FFF;
	font-weight: bold;
	text-shadow: 1.5px 2.5px 2.5px #004daf;
	text-decoration: none;
}

/** Main layout **/
html, body {
	/*background: #364B66 !important;*/
	font-family: Helvetica, Arial, Sans !important;
}
body {
	/* width: 900px; */
	/* (130203) */
	width: 90%;
	padding: 0 20px;
	margin: auto;
	background-position: 50% 50%;
}
body, x:-moz-any-link  {
	/* (130204) */
	width: 80%;
}

/** Blog header **/

#header {
	padding: 8px 0;
	position: relative;
}

#logo {
	position: absolute;
	height: 45px;
	/* (121028) edit */
	margin-left: 90px;
	color: #fff;
	font-size: 48px;
	font-weight: bold;
	letter-spacing: -4px;
	text-shadow: 1.5px 2.5px 2.5px #004daf;
	text-decoration: none;
}

#logo span {
	max-width:0;
	color: #f00;
	font-size: 70%;
}
#logo a{
	position: absolute;
	height: 45px;
	margin-left: 20px;
	color: #fff;
	font-size: 48px;
	font-weight: bold;
	letter-spacing: -4px;
	text-shadow: 1.5px 2.5px 2.5px #004daf;
	text-decoration: none;
}
#logo a:hover{
	padding:2px 0px;
}
#tools {
	list-style: none;
	margin: 0;
	padding: 0;
	position: absolute;
	right: 0;
	top: 30px;
	right: 20px;
}

#tools a {
	color: #fff;
	text-decoration: none;
}

#title {
	background: #B8C569;
	padding: 20px 30px 30px 20px;
	margin: 20px 0;
	color: #3C4313;
	position: relative;
	-webkit-border-radius: 16px;
	-webkit-box-shadow: 0 2px 0 #93A045;
	-moz-border-radius: 16px;
}

/** A little hacky to create arrows without images **/
.about {
	text-indent: -999em;
	display: block;
	width: 0; 
	height: 0; 
	border-left: 10px solid transparent; 
	border-right: 10px solid transparent;
	border-bottom: 10px solid #BAC36E;
	border-top: 0;
	position: absolute;
	top: -10px;
	left: 60px;
}

#title h1 {
	font-size: 64px;
	margin: 0;
}

#title h1 a {
	text-decoration: none;
	color: inherit;
}

#title h2 {
	font-size: 26px;
	margin: 0;
	font-weight: normal;
}

/** Main content **/

#main {
	background: #FFFFFF;
	/*background: -webkit-gradient(linear, left top, left 30%, from(#FFFFFF), to(#00BBBB));*/
	-webkit-border-radius: 16px;
	-moz-border-radius: 16px;
	padding: 20px;
}

/** Post **/

.post .post-title {
	margin: 0;
}

.post .post-title a {
	font-size: 36px;
	color: #F5C2CC;
	text-decoration: none;
}

.post .post-metadata {
	color: #BAC36E;
	display: block;
	font-size: 70%;
	display: inline-block;
}

.post .post-author {
	font-size: 130%;
	font-weight: bold;
}

.post .post-metadata a {
	color: #9FA85D;
}

.post .post-content {
	position: relative;
	background: #fff;
	padding: 10px;
	margin: 10px 0 50px 0;
	-webkit-border-radius: 10px;
	-moz-border-radius: 10px;
	-webkit-box-shadow: 0 2px 0 #BBBBBB;
}

.post .about {
	text-indent: -999em;
	display: block;
	width: 0; 
	height: 0; 
	border-left: 10px solid transparent; 
	border-right: 10px solid transparent;
	border-bottom: 10px solid #fff;
	border-top: 0;
	position: absolute;
	top: -6px;
	left: 24px;
}


/** Older posts **/

.older-posts h3 {
/*	color: #869AB1;*/
	font-size: 28px;
	margin-bottom: 15px;
}

.older-posts h3 .from {
	font-weight: normal;
	font-size: 70%;
}

.older-posts .post {
	margin-bottom: 15px;
	border-left: 3px solid #869AB1;
	padding-left: 10px;
}

.older-posts .post-title a {
	padding: 0;
	color: #131921;
	font-size: 20px;
}

.older-posts .post-metadata {
	color: #869AB1;
	padding: 0;
	font-size: 12px;
}

.older-posts .post-metadata a {
	color: #869AB1;
}

/** Comments **/

.comments {
	margin-bottom: 30px;
}

h3 {
/*	color: #869AB1;*/
	font-size: 18px;
	margin-bottom: 15px;
}

h3 span {
	font-size: 80%;
	font-weight: normal;
}

.comment {
	width: 70%;
	clear: both;
}

.comment .comment-metadata {
	color: #869AB1;
	display: block;
	font-size: 50%;
	display: block;
	float: left;
	width: 80px;
	text-align: right;
}

.comment .comment-author {
	font-size: 150%;
	font-weight: bold;
	display: block;
}

.comment .comment-content {
	position: relative;
	background: #E4EAFF;
	color: #242C58;
	font-size: 80%;
	margin-top: 10px;
	margin-bottom: 10px;
	margin-left: 100px;
	padding: 10px;
	-webkit-border-radius: 10px;
	-moz-border-radius: 10px;
}

.comment .about {
	text-indent: -999em;
	display: block;
	width: 0; 
	height: 0; 
	border-top: 10px solid transparent; 
	border-bottom: 10px solid transparent;
	border-right: 10px solid #E4EAFF;
	border-left: 0;
	position: absolute;
	top: 4px;
	left: -4px;
}

/** Form **/


form .error {
	background: #c00;
	color: #fff;
	font-size: 90%;
	padding: 3px 5px;
	-webkit-border-radius: 6px;
	-moz-border-radius: 6px;
	-webkit-box-shadow: 0 2px 0 #800;
}

form .error:empty {
	 display: none;	
}

form p {
	margin: 5px 0 0 0;
}
/* (121012)
form textarea {
	width: 70%;
	height: 150px;
}*/

form input, form textarea {
	font-size: 14px;
}

form label {
	display: block;
	font-weight: bold;
	font-size: 90%;
	color: #aaa;
	margin-bottom: 3px;
}

#captcha{
	display: block;
	height: 50px;	
}

.success {
	background: #67AD10;
	color: #fff;
	padding: 10px;
	-webkit-border-radius: 6px;
	-moz-border-radius: 6px;
	-webkit-box-shadow: 0 2px 0 #4E840B; 
}

/** Pagination **/

#pagination {
	list-style: none;
	padding: 0;
	position: relative;
	color: #869AB1;
	font-size: 90%;
	top: -20px;
	margin-bottom: 30px;
}

#pagination a {
	color: #869AB1;
	font-size: 90%;
}

#pagination #previous {
	position: absolute;
	top: 0;
	left: 0;
}

#pagination #previous:before {
	content: '<< ';
}

#pagination #next {
	position: absolute;
	top: 0;
	right: 0;
}

#pagination #next:after {
	content: ' >>';
}

/** Footer **/

#footer {
	border-top: 1px solid #45597A;
	font-size: 70%;
	padding: 10px 30px;
	text-align: center;
	color: #869AB1;
	margin-top: 30px;
}

#footer a {
	color: #869AB1;
	font-weight: bold;
}

/** Admin **/

.tags-list .tag {
	cursor: pointer;
	color: red;
}

#adminMenu {
	list-style: none;
	padding: 0;
	margin: 0 0 20px 0;
}

#adminMenu li {
	display: inline;
}

#adminMenu li a {
	color: #fff;
	text-decoration: none;
	font-size: 80%;
	background: #591C64;
	padding: 2px 10px;
	-webkit-border-radius: 9px;
	-moz-border-radius: 9px;
}

#adminMenu li.selected a {
	background: #82A346;
}

#crudContent {
	color: #8B98AD;
}

#crudContent h2 {
	color: #EDC3CD !important;
}

#crudContent thead tr {
	background: #512162 !important;
}

#crudContent table {
	/*border: none !important;*/
}

#crudContent table td {
	color: #444;
}

tr.odd {
	background: #BECCE7 !important;
}

#crud #crudContent, #crudContent form, #crudListSearch, #crudListPagination, .crudButtons {
	background: transparent;
	border: none;
	padding: 0;
}

#crudListTable {
	margin: 10px 0;
}

.crudField, .objectForm {
	border: none;
	padding-left: 0;
}

.crudField label {
	color: #B8FA5C;
}

.crudHelp {
	color: #fff !important;
}

.crudField .tag {
	color: #111;
	font-size: 80%;
}

.crudButtons input {
	font-size: 110%;
}

.crudButtons {
	margin-top: 20px;
	border-top: 1px dotted #8B98AD;
	padding-top: 10px;
}

.crudFlash {
	border: 0;
	-webkit-border-radius: 8px;
	font-size: 80%;
	padding: 2px 10px;
}

.crudField .tag.selected {
	-webkit-border-radius: 8px;
	-moz-border-radius: 8px;
}

.crudField .error {
	background: transparent;
	border: none;
	padding: 0;
	color: pink;
	-webkit-box-shadow: none;
}

/** Login **/

#login form {
	background: #8B98AD !important;
	border: 0 !important;
	-webkit-border-radius: 16px;
	-moz-border-radius: 16px;
}

#login label, #password-field label, #username-field label {
	color: #161D28 !important;
	font-size: 110% !important;
}


#remember-field {
	display: none;
}

/** My posts **/

#admin .post {
	background: #fff;
	padding: 4px;
	margin: 0;
	font-size: 90%;
}

#admin .post.odd {
	background: #C0CBE5;
}

#admin .post a {
	color: #444;
}

#newPost {
	border-top: 1px dotted #C0CBE5;
	padding-top: 15px;
}

#newPost a {
	background: #C88116;
	-webkit-border-radius: 12px;
	-moz-border-radius: 12px;
	padding: 5px 10px;
	font-size: 80%;
	text-decoration: none;
	color: #fff;
	font-weight: bold;
	-webkit-box-shadow: 1px 1px 2px rgba(0,0,0,.3);
}

#newPost a span {
	background: #7D510E;
	-webkit-border-radius: 8px;
	-moz-border-radius: 8px;
	padding: 0 5px 2px 5px;
	position: relative;
	top: -1px;
}

#postContent {
	width: 100%;
	height: 300px;
}

.hasError {
	background: pink;
}

/** side menu */

/* menubar */
div.body {
	position: relative;
}

div.main {
	margin-left: 20%;
	padding: 0px 0px 5px 5px;
}
div.menubar {
	font-size: 90%;
	top: 15%;
	width: 15%;
	border-style: solid;
	border-width: 0.5px;
	background: white;
	/* scroll
	overflow: scroll;
	height: 80%;
	white-space: nowrap; */
	position: fixed;
	/***/
	display: block;
	list-style-type: none;
}
div.menubar li /*a*/ {
	margin: 0px;
	padding: 8px;
	display: block;
	-webkit-border-radius: 2px;
	-moz-border-radius: 2px;
	background-color: #CFD;
	color: #000;
	text-decoration: none;
}
div.menubar li:hover{
	-webkit-border-radius: 8px;
	-moz-border-radius: 8px;
	background-color: #DFF;
}
div.menubar ul {
	margin-top: 4px;
	margin-bottom: 4px;
}
/* side menu hide */
/*
div.menubar ul:hover ul li{
	left: 1em;
}
*/
div.menubar li ul {
	position: absolute;
	left: -999em;
	width: 150px;
	background: transparent;
}
div.menubar :hover ul,
div.menubar li:hover ul {
	left: 1em;
}
div.menubar ul:hover ul,
div.menubar .hover li {
	visibility: visible;
	margin-left: 10px;
	text-decoration: none;
}

/*
tooltip HTML sample
<a href="#" class="tooltip">
	ここにマウスを当てる
	<span class="tooltipBody">
		表示する文字
		<span class="tooltipAngle">
			<span class="tooltipAngleInner" />
		</span>
	</span>
</a>
*/
.tooltip {
    position: relative;
}
.tooltip .tooltipBody {
    border: solid 2px #f98325;
    -moz-border-radius: 4px;
    -webkit-border-radius: 4px;
    border-radius: 4px;
    position: absolute;
    left: 1em;
    top: -2.7em;
    text-decoration: none;
    visibility: hidden;
    padding: 3px 5px;
    width: 200px;
    zoom: 1;
}
.tooltip:hover ,
.tooltip:hover .tooltipBody {
    background-color: white;
    visibility: visible;
    z-index: 10;
}
.tooltip .tooltipBody .tooltipAngle {
    border-right: solid 10px transparent;
    border-left-width: 0;
    border-top: solid 10px #f98325;
    line-height: 0;
    position: absolute;
    left: 1em;
    bottom: -10px;
}
.tooltip .tooltipBody .tooltipAngle .tooltipAngleInner {
    border-right: solid 5px transparent;
    border-left-width: 0;
    border-top: solid 5px white;
    line-height: 0;
    position: absolute;
    left: 2px;
    bottom: 5px;
}

/*	not supported tanseparent for border by IE6. */
* html .tooltip .tooltipBody .tooltipAngle {
    border-right-color: white;
    bottom: -11px;
}
* html .tooltip .tooltipBody .tooltipAngle .tooltipAngleInner {
    border-right-color: #f98325;
}
